body {
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: rgb(241, 239, 237);
  text-transform: uppercase;
}

.container {
  max-width: 500px;
  margin: 60px auto 40px;
  padding: 30px 20px;
  background-color: #dfd9d1;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}

select {
  font-family: "Roboto", sans-serif;
  width: 95%;
  margin: 0 auto;
  display: block;
  color: rgba(0, 0, 0, 0.771);
  padding: 15px 10px;
  background-color: #f1efed;
  border: none;
  font-size: 12px;
  font-weight: 400;
  border-radius: 5px;
  text-transform: uppercase;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px -5px 25px -5px;
  padding: 0 20px;
}

#london {
  margin-top: 40px;
}

#johannesburg {
  margin-bottom: 35px;
}

h2 {
  margin: 8px 0;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
}

.date {
  font-size: 12px;
}

.time {
  font-weight: 500;
  font-size: 33px;
  margin-top: 8px;
}

.time small {
  font-size: 18px;
}

hr {
  width: 94%;
  opacity: 0.6;
  border: 0.5px solid black;
}

.back-button {
  background-color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  color: #dfd9d1;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 12px;
}

.back-button:hover {
  transition: ease 150ms;
  opacity: 0.6;
}

footer {
  text-align: center;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.433);
}

footer a {
  color: black;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
}

footer a:hover {
  transition: all 150ms;
  opacity: 0.5;
}
